<div class="ui segment form">
    <div class="ui fluid action input">
        <input type="text" name="title" placeholder="Введите контакт" (keyup.enter)="create(titleInput.value); titleInput.value = ''" #titleInput>
        <button type="button" class="ui primary button" (click)="create(titleInput.value); titleInput.value = ''">Добавить</button>
    </div>
</div>
<div class="ui filtr segment form">
    <div class="ui fluid filtr input">
        <input type="text" name="filtr" placeholder="Введите предмет поиска" (keyup)="setFilter(titleFiltr.value)" #titleFiltr>
    </div>
</div>