<div class="ui filtr segment form">
    <div class="ui fluid filtr input">
        <input type="text" name="filtr" placeholder="Введите предмет поиска" (keyup)="setFilter(titleFiltr.value)" #titleFiltr>
    </div>
</div>
<div class="ui raised segment" *ngIf="todos.length > 0">
    <div id="todos" class="ui middle aligned divided selection list">
        <todo-item *ngFor="let todo of sortedTodos" [todo]="todo" (toggled)="onTodoToggled($event)" (deleted)="onTodoDeleted($event)"></todo-item>
    </div>
</div>